<div class="toolbar" role="banner">
  <img width="100" alt="Trending Objects" src="assets/logo.png" />
  <a tabindex="1" [routerLink]="['/']">
    Ubay
  </a>
  <div class="spacer"></div>
  <div>
    <span *ngIf="isUserAuthenticated && username">Welcome {{username}}</span>
    <a tabindex="2" [routerLink]="['/login']" (click)="clearStorage()">
      {{action}}
    </a>
    <a tabindex="3" *ngIf="!isUserAuthenticated" [routerLink]="['/register']" (click)="clearStorage()">
      Sign Up
    </a>
    <label class="switch">
      <input type="checkbox" (change)="changeStatus($event.target.checked)">
      <span class="slider"></span>
    </label>
  </div>
</div>