<app-header [displayLoginUser]="true"></app-header>
<div class="container-header">
    <div>
        <h4 style="width: 93%; float: left; margin-top: 10px;">Add Product</h4>
        <button class="button" style="width: 7%; float: right;" aria-label="Go to listing" (click)="gotolisting()">
            Back
        </button>
    </div>
</div>
<div class="container">
    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
        <div class="row">
            <div class="col-20">
                <label for="productName">Product Name</label>
            </div>
            <div class="col-80">
                <input type="text" formControlName="productName" placeholder="Enter product name.." required>
                <div *ngIf="(f.productName.dirty || f.productName.untouched || f.productName.touched) && f.productName.invalid" class="alert-danger">
                    <div *ngIf="f.productName.errors.required">Product name is required.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-20">
                <label for="lname">Description</label>
            </div>
            <div class="col-80">
                <textarea id="subject" formControlName="description" placeholder="Write some description.."
                    style="height:100px" required></textarea>
            </div>
        </div>
        <div class="row description">
            <div class="col-20">
                <label for="category">Category</label>
            </div>
            <div class="col-80">
                <select formControlName="category" id="category">
                    <option disabled>Select Option</option>
                    <option>Choose Option</option>
                    <option *ngFor="let cat of categories">{{cat}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <input class="button" type="submit" [disabled]="!addProductForm.valid">
        </div>
    </form>
</div>