<div class="electronic-listing">
    <div style="height: 20px;">
        <h4 style="width: 10%; float: left; margin: 0;">Top Categories - </h4>
        <span>Cell Phones | TV | Samrt Devices | Audio | Laptops </span>
    </div>
</div>
<div class="electronic-listing">
    <div>
        <h4 style="width: 80%; float: left; margin: 0;">Electronic Products</h4>
        <button style="width: 10%; float: right;" aria-label="Add new product" (click)="addProduct()">
            Add Product
        </button>
    </div>
    <!-- <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <input type="text" class="form-control" name="searchString" placeholder="Type to search..."
                    [(ngModel)]="searchString" />
            </div>
        </div>
    </form> -->
    <table style="margin-top: 28px;">
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Electronic Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quote of prducts">
                <td tabindex="0">{{ quote.productName }}</td>
                <td tabindex="0">{{ quote.description }}</td>
                <td tabindex="0">{{ quote.category }}</td>
                <td class="actions-buttons">
                    <button tabindex="0" aria-label="Delete Product" class="button-three delete">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>