<app-header [displayLoginUser]="displayLoginUser" (changedTheme)='changedTheme($event)'></app-header>
<div class="container" [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row">
            <h2 style="text-align:center">Sign Up</h2>
            <div class="col login">
                <input tabindex="3" type="text" formControlName="name" placeholder="Enter Name.." required>
                <input tabindex="4" type="email" [email]="true" formControlName="username" placeholder="Enter Username.." required>
                <input tabindex="5" type="password" formControlName="password" placeholder="Enter Password.." required>
                <div *ngIf="registerForm.invalid && registerForm.touched && registerForm.dirty" [ngClass]="'error'">
                    Please Enter Valid Inputs
                </div>
                <input tabindex="6" type="submit" value="Register">
            </div>
        </div>
    </form>
</div>